.box
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: pink;

.header
  margin: 0 auto;
  margin-bottom: 50px;
  height:100px;
  text-align: center;
.footer
  background-color: pink;
  position fixed;
  bottom:0;
  left:0;
  right:0;
  height:50px;
  line-height: 50px;
  text-align: center;
